<!DOCTYPE html>
<html lang="pt-br">

<head>
  <title>Previsão do tempo</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js"></script>
</head>
<body>
<div class="container mt-3">
    <h1>Ocorreu um erro! Tente novamente!</h1>
    <a href="/">
        <button type="button" class="btn btn-primary">Consultar</button>
    </a>
</div>
</body>
</html>